Django>=4.2,<5.0
pandas>=2.0,<3.0
openpyxl>=3.1,<4.0
jsonrpcserver>=5.0,<6.0
python-telegram-bot>=20.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
Django==4.2.30
django-appconf==1.2.0
et_xmlfile==2.0.0
idna==3.13
jsonrpcserver==5.0.9
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
numpy==2.4.4
openpyxl==3.1.5
OSlash==0.6.3
pandas==2.3.3
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
